.row
  .container-fluid#home
    .parallax-section.section1
      span(data-picture,
      data-alt="Camel Car Hire - Section 01",
      mr-px-parallax,
      mr-px-max-px="0.3").mr-px-img

        //span(data-src="../../images/home-img01.jpg",
        //mr-px-size="500,768")
        //
        //span(data-src="../../images/home-img01.jpg",
        //mr-px-size="1280,960",
        //data-media="(min-width: 500px)")
        //
        //span(data-src="../../images/home-img01.jpg",
        //mr-px-size="1920,1200",
        //data-media="(min-width: 1400px)")

        span(data-src="../../images/block01.jpg",
        mr-px-size="1920,1308")

        <!--[if (lt IE 9) & (!IEMobile)]>
        <span data-src="../../images/block01.jpg" mr-px-size="1920,1308"></span>
        <![endif]-->

        noscript
          img(src="../../images/block01.jpg", alt="Camel Car Hire - Section 01")

      .on-parallax.section1
        .col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.text-vertical-center-3
          h1 {{ 'NEW_DESIGN_TEXT' | translate}}

        //.wsp-section01-btn.col-md-12
                //  a(href="#car_booking")
                //    button(type="button").btn.wsp-btn.wsp-btn-book.wsp-btn-md {{'BTN_BOOK' | translate}}
                //  a(href="#know_more")
                //    button(type="button").btn.wsp-btn.wsp-btn-details.wsp-btn-md {{'BTN_KNOWMORE' | translate}}

