.row
  .container-fluid
    .parallax-section.section5
      span(data-picture,
      data-alt="Camel Car Hire - Section 05",
      mr-px-parallax,
      mr-px-max-px="0.3").mr-px-img
        span(data-src="/images/block05.jpg",
        mr-px-size="1920,1200")

      .on-parallax.section5
        .col-md-offset-3.col-md-6.text-vertical-center-5
          .wsp-home-header04 {{'HOME_TITLE_05' | translate}}
        .container.text-vertical-center-17.wsp-block-padding-30
          div(data-ng-controller="TestimonialsCtrl as ctrl").row
            div(data-ng-repeat='group in ctrl.panelGroups').row
              .col-md-4(data-ng-repeat="testimonial in group")
                .thumbnail.wsp-thumbnail-border04
                  p.wsp-thumbnail-text05 {{testimonial.info}}
                  .blockquote-footer.wsp-thumbnail-name05 {{testimonial.name}}
                  cite(title="Position").wsp-thumbnail-subname05 {{testimonial.position}}


