/*

Custom CSS
=============

Author:  iStudioDTD.com
Updated: January 2017
Notes:	 Hand coded for Orange Holiday Villas

*/


#block-exclusive-filter {
    margin-bottom: 20px;
}

#exclusiveAlert {
    margin-top: 40px;
}

#exclusiveFilter {
    margin: 0;


}

