/*

Custom CSS
=============

Author:  iStudioDTD.com
Updated: January 2017
Notes:	 Hand coded for Orange Holiday Villas

*/


#block-long-filter {
    margin-bottom: 20px;
}

#longAlert {
    margin-top: 40px;
}

#longFilter {
    margin: 0;


}

